<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/etape2.css">
    <link rel="stylesheet" href="../css/headerfooter.css">
</head>
<body>
    <nav class="menu-bar">
        <ul>
            <li><a id = "/Zeroc" href = "Zeroc.html">Accueil</a></li>
            <li><a href = "/templates/etape1.html">Lancer une simulation</a></li>
            <li><a id = "/infos" href = "/templates/infos.html">Qui sommes-nous ?</a></li>
        </ul>
    </nav>

    <br><br><br><br>
    <main>
        <div class="titre2" >
            <h1> Etape 2: Entrez la localisation de votre chantier</h1>
        </div> <br><br>

        <form id="zipcode-form">
            <label for="zipcode">Entrez le code postal :</label>
            <input type="text" id="zipcode" placeholder="Code postal">
            <button type="button" id="search-button">Rechercher</button>
        </form>
        <div id="result">
            <p>Code postal : <span id="result-zip"></span></p>
            <p>Ville : <span id="result-city"></span></p>
        </div>
        <br><br>

        <div class="imagelocalisation">
            <img src="https://img.freepik.com/vecteurs-libre/carte-routiere-voyage-emplacement-epingle-symbole-illustration-vectorielle_1284-2005.jpg?w=1060&t=st=1698917181~exp=1698917781~hmac=4abc6186330fff974bc3a1473ecd016c4a10ff3614c201e800137a7ae657b744" style="width:500px; height:400px"> <br>
            <a href="https://fr.freepik.com/vecteurs-libre/carte-routiere-voyage-emplacement-epingle-symbole-illustration-vectorielle_1158224.htm#query=localisation&position=33&from_view=keyword&track=sph">Image de macrovector</a> sur Freepik
        </div>
        <br><br>
        <div class="boutonetape3">
            <button class="arrow-button"><a href="lancersimulation.html"> Etape 3: Lancer la simulation  <i class="arrow right"></i>
                <i class="arrow right"></i>
                <i class="arrow right"></i>
            </a></button>
        </div>
        <br>
        
        <br><br>
    </main>
    
<script src="etape2.js"></script>  
</body>


<div class="footer">
    <footer>
        
        <div class="blockgauche">
            <br> <br>
            <p class="titrefooter"> PROJET ZEROC</p> <br>
            <a href="/templates/infos.html"> Qui sommes-nous?</a><br>
            <a href="/templates/forum.html"> Forum</a><br>
            <a href="/templates/blog.html"> Blog</a>
            <br> <br>
            <p class="titrefooter"> AIDE</p><br>
            <div class="aide">
                <img src="../Images/mail.png" style="max-width: 30px; max-height: 30px; border-radius: 50%;">
                <p> FAQ</p>
            </div>
            
        </div>
        <div class="séparation">
            <p>.</p>
        </div>
        <div class="blockdroite">
            <p class="titrefooter"> EN PLUS</p> <br>
            <a href="/templates/mentionslegales.html"> Mentions légales</a> <br>
            <a href="/templates/conditions.html"> Conditions générales d'utilisation</a><br>
            <a href="/templates/protectiondonnees.html"> Politique de protection des données personnelles</a> <br>
            <a href="/templates/cookies.html"> Cookies</a> <br>
        </div>
        <br>
    </footer>
</div>
</html>